<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html"><img src="images/logo2.png" alt="logo" width="400"/></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>
		

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/information">The program</a></li>
					<li><a href="/#apply">Apply</a></li>
					<li><a href="/information#footer">Contact us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<center><h2>2017 Sunshine Scholarship Programme</h2></center>
					
					<p>The Sunshine Scholarship Program is set up by Beifang Sunshine Education Foundation to
					sponsor the international students who want to study Chinese and experience Chinese culture in
					Chinese colleges and institutions. This program aims to develop the intercultural communication
					skills and a global insight and vision for international students in the increasingly multicultural
					and interdisciplinary global societies</p>
					<span class="image fit"><img src="images/uni.jpg" alt="" /></span><br>

					
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>Scholarship Coverage<span class="image right"><img src="images/room.jpg" alt="" /></span></h3>
							    <li>Tuition fees</li>
								<li>On-campus accommodation (single room)</li>
								<li>Medical insurance</li>
								<li>Domestic cultural trips</li>
								
						</div>
						<div class="6u$ 12u$(small)">
							<h3>Placement</h3>
							<p> Each applicant will enter a three-month language program in Canard Institute, Beijing technology
								and business University. The candidate will be under the overall supervision of the program
								director in destination schools, and receive daily direct guidance from program coordinator</p>
						</div>
						<!-- Break -->
						<div class="4u 12u$(medium)">
							<h3>Eligibility</h3>
								<li>Be a citizen of a country other than the People’s Republic of China, and be in good health</li>
								<li>Be an enrolled undergraduate in any universities other than China</li>
								<li>Be under the age of 30 when applying</li>
						</div>
						<div class="4u 12u$(medium)">
							<h3>Languages</h3>
							<li>English is required for this program</li>
							<li>Some knowledge of Mandarin or other languages is an asset</li><br>
							<div class="10u"><span class="image fit"><img src="images/uni2.jpg" alt="" /></span></div>

						</div>
						
						<div class="4u$ 12u$(medium)">
							<h3>Admission & Registration</h3>
							<p>Scholarship winners will get the admission package from EE Co. by the end of August, 2017, and
							must register at the host university, Canard Institute, Beijing technology and business University
							before the 20 th of September, 2017</p>
							<div class="10u"><span class="image fit"><img src="images/uni3.jpg" alt="" /></span></div>
						</div>
					</div>

				<hr class="major" />

				
								
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>